/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsla(199, 78%, 83%, 0.658);
  display: inline-block;
  justify-content: center;
  align-items: center;
  
}

h1{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #023047;
  
}
  #img{
    width: 2rem;
    margin: 0rem;
    display:flex;
    justify-content:right;
    align-items: flex-start;
    
  }
  .nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: larger;
    list-style: none;
    gap: 8rem;
    font-weight: bolder; 
    text-decoration: #023047;
  }
  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  #image{
     max-width: 80%;
    padding: 2rem;
    height: max-content;
  
  }
  
 #h2{
 text-align: center; 
 font-size: x-large;
 font-weight: bolder;
  
 }
 p{
  background-color: #0247;
  display: inline-block;
 }
h3{
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}
h4{
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}
h5{
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}
ul{
  text-align:justify;
  font-size: 1rem;
  font-weight: lighter;
  list-style: none;
}
 footer{
  display: flex;
  flex-direction: row;

 }
 .nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
 }